/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
         url('../fonts/poppins-v19-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/poppins-v19-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Poppins', Arial, serif;
}
ul li{
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
}
.logo_link img{
    display: block;
}
.header{
    -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
    margin-bottom: 100px;
}
.container{
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}
.navbar{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.logo_link img{
    padding: 25px 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.logo_link img:hover{
    opacity: 0.7;
}
.logo_link img:active{
    opacity: 0.5;
}
.menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
}
.menu_list_item{
    padding:0 16px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #666;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin: 0;
}
.menu_list_item:hover{
    color: blue;
}
.menu_list_item:active{
    color: gray;
}
.servis_btn{
    margin-left: 10px;
    padding: 11px 25px;
    background-color: #222;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 4px;
    color: #fff;
    border: 2px solid #222;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.servis_btn:hover{
    font-weight: bold;
    background-color: #fff;
    color: #222;
}
.servis_btn:active{
    background-color: #222;
    opacity: 0.5;
    color: #fff;
    border-radius: 50px 0 50px 0;
}
 /* header the end */
 .intro{
    max-width: 1040px;
    margin: 0 auto;
 }
 .intro_title{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
 }
 .intro_text{
    width: 400px;
    margin-top: 50px;
 }
 .intro_text img{
    padding: 0;
    margin: 0;
    margin-bottom: 11px;
 }

 .intro_text_title{
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    color: #222;
    margin:0 0 18px 0;
 }
 .intro_text_pg{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #222;
    margin-bottom: 20px;

 }
 .intro_img{
    width: 376px;
    height: 548px;
    background-image: url(../img/intro_img.png);
    background-repeat: no-repeat;
    background-size: cover;
 }
 /* intro the end */
 .features{
    max-width: 1440px;
    background-color: #222;
    margin: 0 auto;
 }
 .features_title{
    text-align: center;
 }
 .features_title p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    padding-top: 100px;
    margin-bottom: 5px;
}
 .features_title h2{
    width: 495px;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 37px;
 }
 .features_menu{
     width: 1140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 100px;
    margin: 0 auto;
 }
 .features_menu_list{
    width: 359px;
    height: 520px;
    background-color: #fff;
    border-radius: 20px;
    padding: 40px 0;
    margin: 8px;
 }
 .features_menu_list_bcg{
    width:227px;
    height: 270px;
    background-image: url(../img/intro_img.png);
    background-size: 227px;
    background-repeat: no-repeat;
    margin: 0 auto;
 }
 .features_menu_list_text{
    width: 100%;
    height: 210px;
    background-color: #F2F2F2;
    -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 20px;
    padding: 0 30px;
 }
 .features_menu_list_text img{
    -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
            transform: translateY(-30px);
 }
 .features_menu_list_text h3{
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #E738CE;
    margin-bottom: 11px;
 }
 .features_menu_list_text p{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #222;
 }
 .features_menu_list_text .blue{
    color: #0278ed;
 }
 .features_menu_list_text .red{
    color: #ff5437;
 }
 .features_menu_list_text .fuchsia{
    color: #ff9209;
 }
 .features_menu_list_text .aqua{
    color: #00c6df;
 }
 .features_menu_list_text .purple{
    color: #b25df8;
 }
 /* features the end */
 .numbers{
    max-width: 1440px;
    background-color: #FF5437;
    margin: 0 auto;
    padding: 100px;
 }
 .contend{
    max-width: 1040px;
    margin: 0 auto;
 }
 .numbers_menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
 }
 .features_menu{
    text-align: center;
 }
 .numbers_list h2{
    font-weight: 400;
    font-size: 96px;
    line-height: 96px;
    color: #fff;
    margin-bottom: 20px;
 }
 .numbers_list p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
 }
  /* number the ehd */
.technology_menu_list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    margin-top: 100px;
}
.technology_menu_list_text{
    width: 400px;
    margin-top: 70px;
}

.technology_menu_text{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #222;
    margin-bottom: 5px;
}
.technology_menu_title{
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    color: #222;
    margin-bottom: 15px;
}
.technology_menu_pg{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #666;
}
  .technology_menu_list_img{
    width: 376px;
    height: 540px;
    background-image: url(../img/intro_img.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .technology_menu_list:nth-child(even){
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
}
.technology_menu_list:nth-child(odd){
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}







.drak_mode{
    max-width: 1400px;
    background-color: #222;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.drak_mode_box{
    text-align: center;
}

.drak_mode_box_pg{
    margin-top: 100px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 5px;
}
.drak_mode_box_title{
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.drak_mode_box_text{
    width: 580px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;    
    color: #fff;
    margin-bottom: 35px;
}
/* drak_mode the end */

.Pricing_box{
    text-align: center;
}

.Pricing_box_text{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #222;
    margin-top: 100px;
    margin-bottom: 5px;
 }
 .Pricing_box_title{
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    color: #222;
    margin-bottom: 15px;
 }

 .Pricing_box_pg {
    width: 570px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #666666;
    margin: 0 auto;
    margin-bottom: 45px;
 }
 ol li{
     list-style: none;
 }
 .Pricing_menu{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
     margin-bottom: 100px;
 }
 .Pricing_menu_list{
    width: 380px;
    height: 340px;
    background-color: #f2f2f2;
    text-align: center;
    padding: 50px;
    border-radius: 20px;
 }

 .Pricing_menu_list_text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #0278ED;
  }
  .Pricing_menu_list_title{
    font-weight: 400;
    font-size: 108px;
    line-height: 124px;
    letter-spacing: 8px;
    color: #0278ED;
  }
.Pricing_menu_list_pg {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #222;
    margin-bottom: 20px;
  }

 .Pricing_btn {
     padding: 10px 25px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFF;
    background-color: #0278ED;
    outline: none;
    border: none;
    cursor: pointer;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  .Pricing_btn:hover{
      opacity: 0.7;
      color: #fff;
  }
  .Pricing_btn:active{
     border-radius: 50px 0 50px 0;
  }
  .red{
      color: #ff5437;
  }
  .rad{
      color: #fff;
      background-color: #ff5437;
  }
  .arkorange{
    color: #ff9209;
  }
  .arkoranga{
      color: #fff;
      background-color: #ff9209;
  }
  /* Pricing the end */
  .Customers{
      max-width: 1440px;
      background-color: #f2f2f2;
      margin: 0 auto;
      padding: 100px ;
  }
  .Customers_menu{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
  }
  .Customers_menu_list{
      width: 370px;
      height: 225px;
      background-color: #fff;
      border-radius: 20px;
      padding: 30px 40px 30px 30px;
  }
  .Customers_menu_list p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #222;
  }

  .box{
      margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .col{
      margin-left: 10px;
  }
  /* Customers the end */
  .dowloand_btn{
      display: block;
      background-color: #000;
      margin: 0 auto;
      border-radius: 8px;
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
      margin-bottom: 140px;
      padding: 10px 20px;
      color: #fff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
  }
  .dowloand_btn:hover{
      opacity: 0.7;
  }
  .dowloand_btn:active{
    opacity: 0.4;
}
.dowloand_btn img{
    margin-right: 7px;
}
/* dowloand the end */
.FAQ{
    max-width: 1400px;
    background-color: #e5e5e5;
    margin: 0 auto;
    padding: 100px;
}
.faq_box h2{
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    color: #222;
    margin-bottom: 13px;
}
.faq_box p{
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #222;
    margin-bottom: 45px;
}
.bloc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.bloc h4{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #222;
    margin-bottom: 10px;
}
.bloc blockquote{
    width: 568px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #222;
    margin-bottom: 35px;
    
}
/* FAQ the end */
footer{
    background-color: #F2F2F2;
    padding: 100px ;
    margin: 0 auto;
}

.footer_box {
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}

.footer_col {
    margin-right: auto;
    margin-left: auto;
}

.footer_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.footer_menu li{
    padding: 10px;
}
.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}